body {
	background-color: #ebedfd;
}

.title{
	position: absolute;
	font-family: "Press Start 2P", monospace;
	color: #ff0e3e;
	font-size: 50px;
	left: 46%;
	transform: translateX(-50%);
	animation: fall 2s ease-in forwards;
	z-index: 2;
}

@keyframes fall {
	from {
		top: -3000px;
	}
	to {
		top: 25%;
	}
}

.title-shadow {
    position: absolute;

    left: 48%;
    top: 36%;

    width: 400px;
    height: 9px;

    background-color: black;
    border-radius: 50%;
    filter: blur(10px);

    opacity: 0;
    transform: translateX(-50%) scale(0.3);

    animation: shadow-grow 2s ease-in forwards;
	z-index: 1;
}

@keyframes shadow-grow {
    from {
        opacity: 0;
        transform: translateX(-50%) scale(0.3);
    }

    to {
        opacity: 0.85;
        transform: translateX(-50%) scale(1.5);
    }
}

.explosion {
    width: 130px;
    height: 130px;

    background-image: url("explode-sprite-sheet.png");
    background-repeat: no-repeat;

    position: absolute;
    left: 47%;
    top: 25%;

    transform: translateX(-50%) scaleX(8) scaleY(3);
    transform-origin: center;

    z-index: 3;
    opacity: 0;

    animation: explode 0.7s steps(1) 2s forwards;
}

@keyframes explode {
    0% {
        background-position: 0px 0px;
        opacity: 1;
    }

    4% {
        background-position: -130px 0px;
    }

    8% {
        background-position: -260px 0px;
    }

    12% {
        background-position: -390px 0px;
    }

    16% {
        background-position: -520px 0px;
    }

    20% {
        background-position: 0px -130px;
    }

    24% {
        background-position: -130px -130px;
    }

    28% {
        background-position: -260px -130px;
    }

    32% {
        background-position: -390px -130px;
    }

    36% {
        background-position: -520px -130px;
    }

    40% {
        background-position: 0px -260px;
    }

    44% {
        background-position: -130px -260px;
    }

    48% {
        background-position: -260px -260px;
    }

    52% {
        background-position: -390px -260px;
    }

    56% {
        background-position: -520px -260px;
    }

    60% {
        background-position: 0px -390px;
    }

    64% {
        background-position: -130px -390px;
    }

    68% {
        background-position: -260px -390px;
    }

    72% {
        background-position: -390px -390px;
    }

    76% {
        background-position: -520px -390px;
    }

    80% {
        background-position: 0px -520px;
    }

    84% {
        background-position: -130px -520px;
    }

    88% {
        background-position: -260px -520px;
    }

    92% {
        background-position: -390px -520px;
    }

    96% {
        background-position: -520px -520px;
    }

    100% {
        background-position: -520px -520px;
        opacity: 0;
    }
}

.grid-center{
    display: block grid;
	justify-content: center;
	align-items: center;

}
.grid-stack{
    display: block grid;
	gap: 0;
	justify-content: center;
	align-content: center;
	height: 100vh

}
.grid-column{
    display: block grid;
	grid-auto-flow: column;
}
/* Each individual square in the Minesweeper grid */
.button{
	/* how rounded the corners are */
	border-radius:.200rem;
	width: 3rem;
	height: 3rem;
	/*space between each square */
	margin: 0;
  line-height:1.42857;
}
.old-button{
	border-radius:.375rem;
  padding-left:1.25rem;
  padding-right:1.25rem;
  padding-top:.625rem;
  padding-bottom:.625rem;
  font-size:.875rem;
  line-height:1.42857;
}

.icon-thing{
	border-radius:.375rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0;
  line-height:1.42857;
}

.hidden-tile{
	background-color: gray;
}
.revealed-tile{
	background-color: white;
}

.webpage_art{
	width: 40%;
	height: auto;
	position: absolute;
	left: 74%;
	top: 50%;
	transform: translate(-50%,-50%);
}